/* დავალება 5: დაამატე სურათი HTML-ში და ქვემოთ განთავსე ტექსტი, რომელიც იქნება 20px ზომით და ნორმალური წონით, ცენტრირებული. */

.art {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    color: rgb(190, 28, 28);
}