/* 3️⃣ 🌞📏 დავალება 3: შექმენი ვებგვერდზე წარწერა (header) - ნარინჯისფერი ფონდი, თეთრი ტექსტი, 36px ზომა და ცენტრირებული ტექსტი. */

header {
    text-align: center;
    background-color: orange;
    color: white;
    font-size: 36px;
    padding: 20px;
}